.event-list {
    height: 550px;
    overflow-y: auto;
    border: 2px solid;
}

.event-form {
    height: 650px;
    border: 2px solid;
    padding: 20px;
    overflow-y: auto;
}


.show-sidebar {
    left: 5px;
    top: 65px;
    position: fixed !important;
    display: block;
    z-index: 4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.show-sidebar-clicked {
    left: 405px;
    top: 65px;
    position: fixed !important;
    display: block;
    z-index: 4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.sidebar-1 {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 50px;
    padding: 20px;
    z-index: 4;
    background: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.closed-sidebar-1 {
    margin-left: -440px !important;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 50px;
    padding: 20px;
    z-index: 4;
    background: #ffffff;
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.input-group {
    margin-bottom: 20px;
}
.sidebar-2 {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 50px;
    padding: 20px;
    z-index: 4;
    background: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.closed-sidebar-2 {
    margin-left: -240px !important;
    z-index: 4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.map {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
}